body.theme-alternate {
    .cv > li {
        display: flex;
        gap: 1em;
    }
    .timeline {
        position: relative;
        text-align: right;
        flex-direction: column;
        align-items: flex-end;
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: calc(160px + 5vw);

        .sticky {
            padding-top: $padding-xs;
            padding-bottom: $padding-xs;
        }
        &:after {
            position: absolute;
            top: 0;
            height: 100%;
            right: $padding-xs;
            content: "";
            z-index: 0;
        }
        .middle {
            flex-grow: 1;
            > * {
                padding-right: $padding-xs;
                border-right: 3px solid var(--color-background);
                margin-right: -1px;
            }
        }
        > div:not(.middle) {
            z-index: 1;
            position: relative;
            padding-right: $padding-xs;
            border-right: 3px solid var(--color-background);
            margin-right: -1px;
        }
    }
    @media screen and (max-width: $breakpoint-xsmall-max) {
        .timeline {
            align-items: flex-start;
            text-align: left;
            margin-bottom: $mainpadding;
            &:after {
                border-left: none;
            }
            .middle {
                > * {
                    border-left: 3px solid var(--color-background);
                    padding-left: $padding-xs;
                    margin-left: -1px;
                    border-right: none;
                }
            }
            > div:not(.middle) {
                padding-left: $padding-xs;
                border-left: 3px solid var(--color-background);
                margin-left: -1px;
                border-right: none;
            }
        }
    }
}
