# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# fonts
/public/fonts/camingo
/public/images

# pages
/src/html
/dist/*.html

# de
/dist_de
/dist

# style
/src/scss/fullpage_bak.scss

.DS_Store
.env
.env.development