@each $name, $color in $colors {
    .bg-#{$name} { 
        fill: $color !important; 
        background-color: $color !important;
    }
}
.bg-light {
    h1, h2, h3, h4, h5, h6, li, p, a, small, * {
        color: $primary;
    }
    &.section.section {
        h1, h2, h3, h4, h5, h6, li, p, a, small, * {
            color: $primary;
        }
    }
}