@import "../functions/basepath";

/**
 * Fonts
*/

/* noto-serif-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 300;
    src: font("/noto", "noto-serif-v33-latin_latin-ext-300.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-sans-pro-900 - latin */
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 900;
    src: font(
        "/source-sans",
        "source-sans-pro-v21-latin-900.eot"
    ); /* IE9 Compat Modes */
    src: local(""),
        font("/source-sans", "source-sans-pro-v21-latin-900.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */
            font("/source-sans", "source-sans-pro-v21-latin-900.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            font("/source-sans", "source-sans-pro-v21-latin-900.woff")
            format("woff"),
        /* Modern Browsers */
            font("/source-sans", "source-sans-pro-v21-latin-900.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            font(
                "/source-sans",
                "source-sans-pro-v21-latin-900.svg#SourceSansPro"
            )
            format("svg"); /* Legacy iOS */
}

/* latin */
@font-face {
    font-family: "Fira Sans Condensed";
    font-style: normal;
    font-weight: 600;
    src: font("/fira-sans-condesed", "FiraSansCondensed-SemiBold.woff2")
        format("woff2");
    src: local(""),
        font("/fira-sans-condesed", "FiraSansCondensed-SemiBold.ttf")
            format("truetype"),
        font("/fira-sans-condesed", "FiraSansCondensed-SemiBold.woff2")
            format("woff2");
}
