.circle {
    
    border-radius: 50%;
    position: relative;
    margin: auto;
    max-width: 50vh;

    img {
        display: block;
    }
    > * {
        border-radius: 50%;
        position: relative;
        z-index: 1;
        overflow: hidden;

        &:before {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            background-color: $secondary;
            z-index: 2;
            width: 200%;
            left: -50%;
            top: 0%;
            transform: translateY(0) rotate(-5deg);
            transition: all .5s ease 0s;
            will-change: transform;
        }
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        left: 50%;
        top: 50%;
        background-color: $secondary;
        border-radius: 50%;
        width: 100%;
        transform: translate(-55%, -48%) scale(1.025);
    }
}

.inview .circle {
    *:before {
        transform: translateY(101%) rotate(-5deg);
        transition: all .5s ease 0.5s;
    }
} 

.fullpage.down .inview .circle {
    > *:before {
        transform: translateY(-101%) rotate(-5deg);
        transition: all .5s ease 0.2s;
    }
}