/**
 * Print Stylesheet
*/

@media print {
    @page {
        margin: 1cm;
    }

    body {
        background: var(--color-background);
        color: var(--color-foreground);
    }

    a {
        page-break-inside: avoid;
    }

    blockquote {
        page-break-inside: avoid;
    }

    table,
    pre {
        page-break-inside: avoid;
    }

    ul,
    ol,
    dl {
        page-break-before: avoid;
    }
}
