@import "./vars";

%font-base {
    font-family: $font-base;
    font-weight: 400;
    line-height: 1.5;
}

%font-sans {
    font-family: $font-sans;
}

%font-italic {
    font-family: $font-base;
    font-weight: 400;
    font-style: italic;
}

%font-italic-bold {
    font-family: $font-serif;
    font-weight: 700;
    font-style: italic;
}

%font-sans-bold {
    font-family: $font-sans-bold;
    font-weight: 700;
}

%font-headings {
    font-family: $font-headings;
    font-weight: $font-headings-weight;
}

%font-serif {
    font-family: $font-serif;
    font-weight: 400;
}

html {
    font-size: 1em;
    @media (min-width: $breakpoint-xlarge) {
        font-size: 1.1rem;
    }
    @media (min-width: $breakpoint-xxlarge) {
        font-size: 1.25rem;
    }
    @media (min-width: $breakpoint-xxxlarge) {
        font-size: 1.5rem;
    }
}
body {
    color: var(--color-base);
    @extend %font-base;
}

@each $name, $color in $headlines {
    #{$name},
    .#{$name} {
        @extend %font-headings;
    }
}

h1,
h2,
.h1,
.h2 {
    //text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: $padding-xs;
}

h1,
.h1 {
    font-size: calc(2.25em + 1vw);
}

h2,
.h2 {
    font-size: 1.75em;
    @media screen and (min-width: $breakpoint-xlarge) {
        font-size: calc(2em + 0.5vw);
    }
}

h3,
h4,
h5,
.h3,
.h4,
.h5 {
    margin-bottom: 0.25em;
}

h3,
.h3 {
    text-transform: uppercase;
}

h4,
.h4 {
    @extend %font-serif;
    text-transform: none;
    line-height: 1.2;
}

h3,
.h3 {
    font-size: 1.25em;
    letter-spacing: 0.035em;
}

h4,
.h4 {
    font-size: 1.15em;
}

h5,
.h5 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.035em;
}

@each $hl in $headlines {
    @each $adjacenthl in $headlines {
        #{$hl} + #{$adjacenthl},
        .#{$hl} + #{$adjacenthl},
        #{$hl} + .#{$adjacenthl},
        .#{$hl} + .#{$adjacenthl} {
            margin-top: 0;
        }
    }
    p + #{$hl},
    ul + #{$hl} {
        margin-top: $mainpadding;
    }
}

p {
    @extend %font-base;
    margin-bottom: $padding-xs;
}

small {
    @extend %font-italic;
    font-size: 0.8em;
    line-height: 1.1;
}

.bold {
    font-weight: 700;
}

a {
    color: var(--color-primary);
    text-decoration: underline;
    &:hover {
        color: var(--color-primary-light);
    }
    &:visited {
        color: var(--color-primary-dark);
    }
}

strong {
    @extend %font-sans-bold;
}

.text-center {
    text-align: center;
}

ul.list {
    margin-top: $mainpadding;
    li {
        margin-left: 1em;
        margin-bottom: 1em;
        list-style-type: disc;

        strong {
            text-transform: uppercase;
        }
    }
    &.list-xl {
        li {
            margin-bottom: $padding-xl;
        }
    }
}

hr {
    width: 75%;
    border: none;
    opacity: 0.5;
    border-top: 2px dotted var(--color-background);
}

.nowrap {
    white-space: nowrap;
}

.inverted-text-item {
    display: inline-flex;
    flex-wrap: wrap;
    @include inverted-text-item(
        var(--color-secondary-light),
        var(--color-foreground)
    );
    &.tag {
        border-radius: 0.2em;
        @extend %font-sans;
        margin: 0 0.125em;
        padding: 0.05em 0.125em;
        font-size: 0.9em;
    }
}

section.active {
    .inverted-text-item:after {
        transform: translateY(-100%);
        transition: transform 0.25s ease 1s;
    }
    .inverted-text-item span {
        transform: translateY(-100%);
        transition: transform 0.35s ease 1.25s;
    }
}
