@use "sass:math";
@use "sass:map";

/**
 * Variables
*/

/* =========================================
                    colors 
   ========================================= */

body {
    --color-base: #e6007e;
    --color-primary: #e6007e;
    --color-primary-light: #ff7cc4;
    --color-primary-dark: #970060;
    --color-secondary: #ffc600;
    --color-secondary-light: #ffcf75;
    --color-secondary-dark: #b27a00;
    --color-gray-light: #f1f1f1;
    --color-section-color-even: #e6007e;
    --color-section-color-odd: white;
    --color-foreground: black;
    --color-background: white;
}
body.theme-white {
    --color-base: black;
    --color-primary: #e6007e;
    --color-primary-light: #ff7cc4;
    --color-primary-dark: #970060;
    --color-secondary: #ffc600;
    --color-secondary-light: #ffcf75;
    --color-secondary-dark: #b27a00;
    --color-gray-light: #f1f1f1;
    --color-section-color-even: #e6007e;
    --color-section-color-odd: purple;
    --color-foreground: black;
    --color-background: white;
}

$section-color-odd: var(--color-section-color-odd);
$section-color-even: var(--color-section-color-even);
$foreground: var(--color-foreground);
$background: var(--color-background);

/* =========================================
                  breakpoints 
   ========================================= */

$grid-breakpoints: (
    xxs: 480px,
    xs: 640px,
    s: 768px,
    m: 992px,
    l: 1440px,
    xl: 1680px,
    xxl: 1920px,
    xxxl: 2550px,
);

$breakpoint-xxsmall: map-get(
    $grid-breakpoints,
    "xxs"
); // iPhone SE 1st gen. portrait
$breakpoint-xsmall: map-get($grid-breakpoints, "xs"); // Phone portrait
$breakpoint-small: map-get($grid-breakpoints, "s"); // Phone landscape
$breakpoint-medium: map-get($grid-breakpoints, "m"); // Tablet Landscape
$breakpoint-large: map-get($grid-breakpoints, "l"); // Desktop
$breakpoint-xlarge: map-get($grid-breakpoints, "xl"); // Large Screens
$breakpoint-xxlarge: map-get($grid-breakpoints, "xxl"); // XLarge Screens
$breakpoint-xxxlarge: map-get($grid-breakpoints, "xxxl"); // XLarge Screens

$grid-breakpoints-max: (
    xxs: (
        $breakpoint-xxsmall - 1,
    ),
    xs: (
        $breakpoint-xsmall - 1,
    ),
    s: (
        $breakpoint-small - 1,
    ),
    m: (
        $breakpoint-medium - 1,
    ),
    l: (
        $breakpoint-large - 1,
    ),
    xl: (
        $breakpoint-xlarge - 1,
    ),
    xxl: (
        $breakpoint-xxlarge - 1,
    ),
);

$breakpoint-xxsmall-max: map-get(
    $grid-breakpoints-max,
    "xxs"
); // iPhone SE 1st gen. portrait
$breakpoint-xsmall-max: map-get($grid-breakpoints-max, "xs"); // Phone portrait
$breakpoint-small-max: map-get($grid-breakpoints-max, "s"); // Phone landscape
$breakpoint-medium-max: map-get($grid-breakpoints-max, "m"); // Tablet Landscape
$breakpoint-large-max: map-get($grid-breakpoints-max, "l"); // Desktop
$breakpoint-xlarge-max: map-get($grid-breakpoints-max, "xl"); // Large Screens
$breakpoint-xxlarge-max: map-get(
    $grid-breakpoints-max,
    "xxl"
); // XLarge Screens

$breakpoint-layout-switch: $breakpoint-medium;
$breakpoint-layout-switch-max: $breakpoint-medium-max;

/* =========================================
                    fonts 
   ========================================= */

$font-headings-weight: 700;

$headlines: h1, h2, h3, h4, h5, h6;

$font-base: "Noto Serif", serif;
$font-sans-bold: "Source Sans Pro", sans-serif;
$font-sans: "CamingoDos", "Fira Sans Condensed", sans-serif;
$font-serif: "Noto Serif", serif;
$font-headings: "CamingoDos", "Fira Sans Condensed", sans-serif;

/* =========================================
                  transitions 
   ========================================= */

$section-transition: 0.5s;
$section-before-transition: $section-transition * 1.25;
$section-transition-delay: $section-transition * 0.5;
$section-content-transition-delay: $section-transition * 0.66;
$section-color-transition: 1s;
$section-color-transition-delay: 0s;

$mask-transition: 1s;
$logo-transition: 0.5s;
$logo-bg-transition-delay-down: 0.25s;
$logo-bg-transition-delay-up: 0.25s;
$section-logo-transition-delay-in: 0.5s;
$section-logo-transition-delay-out-down: 0.15s;

$mask-transition-delay: $mask-transition * 0.5;
$paragraph-transition: $mask-transition;
$headline-transition-delay-down: $mask-transition-delay;
$headline-transition-delay-up: $mask-transition-delay * 0.85;
$paragraph-transition-delay-in: $mask-transition * 0.625;
$paragraph-transition-delay-out: $mask-transition-delay * 0.75;

/* =========================================
                  padding 
   ========================================= */

$scalefactor: 0.5vw;

$mainpadding: calc(0.75em + #{$scalefactor});
$padding-xs: calc(0.25em + #{$scalefactor * 0.5});
$padding-xl: calc(1.5em + #{$scalefactor * 2});

$sections: 6;

/* =========================================
                  icons 
   ========================================= */

$icons: html, css, js, sass, js, php, sql, react, xd, ps, ai, ae, vscode,
    codepen, github, lottie, spring, slim, git, framermotion, reactrouter, bts,
    uikit, wp;
