@for $i from 0 through $sections {
    @keyframes move-up-#{$i} {
        from {
            background-position-y: 100%;
        }
        to {
            background-position-y: 0%;
        }
    }
    @keyframes move-down-#{$i} {
        from {
            background-position-y: 0%;
        }
        to {
            background-position-y: 100%;
        }
    }
}
