@keyframes screen {
    0% {
        height: 0;
    }
    50% {
        height: 150%;
    }
    100% {
        height: 0;
    }
}
body.theme-white {
    .section-bg {
        display: none;
    }
    #fullpagewrapper {
        // section
        section.section {
            &:before,
            &:after {
                content: "";
                position: absolute;
                display: table;
                left: 0;
                transition: all $section-before-transition ease
                        $section-transition-delay,
                    background-color $section-color-transition ease
                        $section-color-transition-delay,
                    border-bottom-color $section-color-transition ease
                        $section-color-transition-delay;
            }

            &:before {
                height: 0;
                width: 100%;
                border-left: 100vw solid transparent;
                top: 0;
                background: var(--color-secondary);
            }
            &:after {
                height: 5em;
                width: 100%;
                bottom: 0;
                // background-color: var(--color-background);
            }
            &.active:before {
                animation: screen 1s forwards;
            }
        }
        &.up {
            section.section {
                &:before {
                    top: auto;
                    bottom: 0;
                }
            }
        }
    }
}
