body.theme-white {
    section.section {
        .header-text {
            .content {
                margin: auto;
                p {
                    font-size: calc(1rem + 0.25vw);
                }
            }
        }
    }
}
