body.theme-white {
    .timeline {
        margin-bottom: 0.5em;
        flex-wrap: wrap;
        * {
            line-height: 1.2;
        }
    }
    .position {
        margin-right: 0.5em;
    }
    .company {
        padding-left: 0.5em;
        position: relative;
        margin-top: -0.25em;
        &:before {
            content: "|";
            position: absolute;
            left: 0;
        }
    }
    .date {
        flex-basis: 100%;
    }
    .tech {
        color: var(--color-gray);
    }
}
