/* Myfonts Camingo */
@import "camingo";

/* Core variables */
@import "base/__base";
@import "functions/__functions";
@import "mixins/__mixins";

/* Components */
@import "cards";
@import "close";
@import "img";
@import "timeline";
@import "layout-details";
@import "project";
@import "header";
@import "footer";
@import "chart";
@import "nav";
@import "home";
@import "about";
@import "contact";
// @import "form";
@import "headlines";
@import "shadowHeadline";
@import "icons";
@import "iframe";
@import "page-transition";
@import "sticky";
@import "fullpage"; // must be after footer
@import "layout";
@import "canvas";

// Themes
@import "themes/__themes";
