.cards {
    columns: 3 300px;
    column-gap: 0;
    > * {
        border-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23E6007E;%7D%0A%3C/style%3E%3Cg%3E%3Cpolygon class='st0' points='7.5,16.5 2,16.5 0,16.5 0,24 7.5,24 7.5,22 '/%3E%3Cpolygon class='st0' points='22,16.5 16.5,16.5 16.5,22 16.5,24 24,24 24,16.5 '/%3E%3C/g%3E%3Cg%3E%3Cpolygon class='st0' points='16.5,0 16.5,2 16.5,7.5 22,7.5 24,7.5 24,0 '/%3E%3Cpolygon class='st0' points='7.5,0 0,0 0,7.5 2,7.5 7.5,7.5 7.5,2 '/%3E%3C/g%3E%3C/svg%3E");
        border-image-slice: 28%;
        border-image-repeat: stretch;
        border-width: 3px;
        //border-style: solid;
        padding: 3px;

        .card-links {
            @include hover-ani();
            display: flex;
            column-gap: 0.66em;
            margin-top: auto;
            justify-content: center;
            padding-top: 2em;
            > * {
                width: 15%;
                max-width: 3em;
                transform: translateX(800%);
                display: inline-block;
                transition: all 0.5s ease-out;
                span {
                    display: block;
                    img {
                        display: block;
                    }
                }
            }
        }
        .card-wrapper {
            overflow: hidden;
            position: relative;
            z-index: 1;
            height: 100%;
            min-height: 10em;

            &:before {
                //content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: var(--color-primary);
                z-index: 1;
                clip-path: polygon(66% 0%, 100% 0%, 100% 100%, 85% 100%);
                transition: all 0.5s ease;
                z-index: 3;
            }
            p {
                clip-path: inset(0% 0 0% 0);
            }
            > * {
                transition: all 0.5s ease;
                transform-origin: center;
                width: 100%;
                height: 100%;
            }
            > .card-cover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--color-primary);
                img {
                    object-fit: cover;
                    object-position: center;
                    height: 100%;
                    filter: grayscale(0) contrast(1);
                    mix-blend-mode: normal;
                    transition: all 0.5s ease;
                }
            }
            > .card-details {
                clip-path: polygon(0% 55%, 100% 45%, 100% 45%, 0% 55%);
                background-color: var(--color-secondary);
                z-index: 2;
                position: relative;
                text-align: center;
                display: flex;
                .details-wrapper {
                    padding: 7.5%;
                    transition: all 0.66s ease;
                    transform: scale(0.8);
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6,
                    p,
                    a {
                        color: var(--color-primary) !important;
                    }
                }
            }
            img {
                width: 100%;
            }
        }

        &:hover {
            .card-links {
                > * {
                    position: relative;
                    transform: translateX(0%);
                    transition: all 0.35s ease;
                    @for $i from 1 through 3 {
                        &:nth-child(#{$i}) {
                            transition-delay: $i * 0.15s;
                        }
                    }
                    img {
                        position: relative;
                        z-index: 1;
                    }

                    &:after {
                        @include after;
                        background-color: var(--color-background);
                        border-radius: 50%;
                    }
                }
            }
            .card-wrapper {
                &:before {
                    left: 100%;
                    transition: all 0.5s ease;
                }
                * {
                    transition: all 0.3s ease;
                }
                > .card-cover {
                    transform: scale(1.5);
                    opacity: 0;
                    transition: all 0.45s ease 0.5s;
                    img {
                        opacity: 0;
                        filter: grayscale(1) contrast(1.1);
                        mix-blend-mode: normal;
                        transition: all 0.5s ease;
                    }
                }
                > .card-details {
                    clip-path: polygon(0% 110%, 100% 100%, 100% -10%, 0% 0%);
                    .details-wrapper {
                        transition: all 0.45s ease;
                        transform: scale(1);
                    }
                }
            }
            &:after {
                transform: scale(1);
                transition: all 0.35s ease;
            }
        }
        &:after {
            background-color: var(--color-secondary);
        }
    }
}

.content {
    .cards {
        > li {
            transform: scale(0);
            opacity: 0;
            transition: all 0.25s ease 0.5s;
        }
    }
    &.inview {
        .cards {
            > li {
                transform: scale(1);
                opacity: 1;
                transition: all 0.35s ease;
            }
            @for $i from 1 through 10 {
                li:nth-child(#{$i}) {
                    transition-delay: $i * 0.1s;
                }
            }
        }
    }
}
