.close {
    @include hover-ani(-15%, 0%);
    position: fixed;
    z-index: 10;
    top: 1em;
    right: 1em;
    width: calc(1.5em + 0.5vw);
    height: calc(1.5em + 0.5vw);
    text-align: center;
    a {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
        border-radius: 50%;

        * {
            content: image("/design", "close.svg");
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            display: inline-block;
            border-radius: 50%;
        }
        &:after {
            background-color: var(--color-secondary);
            border-radius: 50%;
        }
    }
}
