@use "sass:string";
@use "sass:math";

$icon-size: calc(2em + 0.25vw);

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    padding: $padding-xs 0.75em 0.75em;
    display: flex;
    justify-content: flex-end;
    margin-top: min(-2em, -3vw);

    nav {
        display: flex;
        ul {
            align-items: center;
        }
        li:not(.icon) {
            a:hover {
                text-decoration: underline;
            }
        }
    }
    [class|="iconmask"] {
        @include iconmask(
            $icon-size,
            var(--color-primary),
            $sections * 100% $sections * 100%
        );
        position: relative;
        transition: all $section-transition ease;
        display: block;
    }
}
// Masking for the footer navigation icons
@include nav-mask($section-color-odd, $section-color-even);

#project {
    &.active {
        ~ footer {
            z-index: 100;
            a {
                color: var(--color-primary);
            }
            svg {
                clip-path: polygon(
                    0% 0%,
                    100% -10%,
                    100% 100%,
                    0% 110%
                ); // not masked
                animation: mask-up-in $logo-transition ease forwards
                    $section-logo-transition-delay-in;
            }
        }
    }
}

#fullpagewrapper footer {
    position: fixed;
}
