@import './base/vars';

$section-color-odd: $primary;
$section-color-even: $white;

// large screen
.fullpage#fullpagewrapper {
        overflow-y: hidden;
        height: 100vh;
    }


#fullpagewrapper {
    &:before,
    &:after {
        position: fixed;
    }
}
    
.last-section {
    &#fullpagewrapper {
        @include main-after;
    }
}


@for $i from 0 through $sections {
    .section-#{$i} {
        &#fullpagewrapper {
            &:before,
            &:after {
                @if $i % 2 == 1 {  border-bottom-color: $section-color-even; }
                @else { border-bottom-color: $section-color-odd; }
            }
        }
        header {
            @if $i % 2 == 1 {  background-color: $section-color-odd; }
            @else { background-color: $section-color-even; }
        }
    }
}

// sections 
#fullpage {
    section.section {
        @include section-colors($section-color-even, $section-color-odd, true);
        @include headline-colors($section-color-even, $section-color-odd);
    }
}
.fullpage {
    section.section {
        @include section-after(-19.9vw, 18vw, -2vw, 2vw);
    }
}

// container
#fullpage {
    section.section {
        > .container {
            padding: 0 $mainpadding;
            @media (max-width: $breakpoint-layout-switch-max) {
                &:before {
                    display: none;
                }
            }
        }
    }
}
.fullpage {
    section.section {

        > .container {
            @media (min-width: $breakpoint-layout-switch) {
                transform: translateY(-15vh);
            }
            transition: transform $section-before-transition ease $section-content-transition-delay;
        }
        &.active {
            > .container {
                transform: translateY(0);
            }
        }
        &.active ~ section.section {
            > .container {
                @media (max-width: $breakpoint-layout-switch-max) {
                    transform: translateY(0) !important;
                }
                transform: translateY(15vh);
            }
        }
    }
}

@include nav-colors($section-color-even, $section-color-odd);


// small screen
#fullpagewrapper:not(.fullpage) {
    &:before {
        bottom: max(1.9vw, 1.9em);
        border-bottom-width: max(8vw, 3em);
    }
    &:after {
        bottom: 0;
        border-bottom-width: max(2vw, 2em);
    }
    section.section {
        min-height: 101vh;
    }
}
#fullpagewrapper footer {
    position: fixed;
}

@include nav-mask($section-color-even, $section-color-odd);
@include nav-mask($section-color-even, $section-color-odd, 'in', '#logowrapper');

// content scrolling
.fullpage {
    .js-scrollcontent {
        position: relative;
    }
    .scrollbar {
        position: absolute;
        top: 0;
        right: -1.5em;
        width: 5px;
        height: 100%;
        border-left: 1px solid $primary;
        
        .scrollbar-handle {
            width: 100%;
            margin-left: -50%;
            background-color: $primary;
            height: 40px;
            cursor: pointer;
            position: relative;
            border-radius: 3px;
            transition: width 0.15s ease, margin-left 0.15s ease;
            &.dragging,
            &:hover {
                width: 9px;
                margin-left: calc(-50% - 2px);
                border-radius: 4px;
                transition: width 0.15s ease, margin-left 0.15s ease;
            }
        }
    }
    section:nth-child(2n) {
        .scrollbar {
            border-left-color: $white;
            .scrollbar-handle {
                background-color: $white;
            }
        }
    }
}