@use "sass:math";
@import "./base/vars";

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 4;
    padding: 0.75em;
}
.logo-wrapper {
    position: absolute;
    left: 5vw;
    top: -1.25em;
    @media screen and (min-width: $breakpoint-small) {
        top: -2.25em;
        max-height: 13em;
    }
    @media screen and (min-width: $breakpoint-layout-switch) {
        left: 30vw;
        transform: translateX(-50%);
    }
}
.logo {
    -webkit-mask: image("/design", "mt-logo.svg") no-repeat center / contain;
    mask: image("/design", "mt-logo.svg") no-repeat center / contain;
    @include iconmask(
        calc(4em + 5vw),
        var(--color-primary),
        $sections * 100% $sections * 100%
    );
    display: block;
    transition: all 0.5s ease 0.25s;

    &.small {
        transform: translate(-5vw, -10%) scale(0.7);
        transition: transform 0.5s ease;
    }
    @media screen and (min-width: $breakpoint-small) {
        @include iconmask(
            calc(6em + 5vw),
            var(--color-primary),
            $sections * 100% $sections * 100%
        );
    }
}

#logowrapper {
    svg {
        clip-path: polygon(0% 120%, 100% 100%, 100% 100%, 0% 100%);
    }
    > * {
        &:after {
            background-position: 0% 0%;
        }
    }
}

[class*="section"] {
    header {
        background: var(--color-background);
    }
    &.fullpage {
        header {
            background: transparent;
        }
    }
}

.subpage {
    header {
        &:before {
            content: "";
            position: absolute;
            border-left: 1500px solid transparent;
            border-top: 60px solid var(--color-background);
            @media (min-width: $breakpoint-xxxlarge) {
                border-left: 1800px solid transparent;
                border-top: 90px solid var(--color-background);
            }
            width: 0;
            height: 0;
            top: 0;
            right: 0;
        }
    }
}
@include nav-mask(
    $section-color-odd,
    $section-color-even,
    "in",
    "#logowrapper"
);
