body.theme-white {
    section#home {
        @media (min-width: 992px) {
            .header-text {
                flex-basis: 100%;
            }
        }
        p {
            margin-left: 50%;
            width: min(45%, 550px);
        }
    }
}
