body.theme-white {
    section#home {
        @media (min-width: 992px) {
            .header-text {
                flex-basis: 100%;
            }
        }
        .content > div {
            margin: auto;
            width: min(calc(150px + 50%), 750px);
        }
    }
}
