@each $icon in $icons {
    .icon-#{$icon} {
        &::before {
            content: ""; /*image('/design', 'icon-#{$icon}.svg')!important;*/
            -webkit-mask: image("/design", "icon-#{$icon}.svg")
                no-repeat
                center;
            mask: image("/design", "icon-#{$icon}.svg") no-repeat center;
            -webkit-mask-size: cover;
            mask-size: cover;
            background-color: var(--color-primary);
        }
    }
    // .icon-prefix-#{$icon} {
    //     padding-left: 1.5em;
    //     &::before {
    //         content: "";
    //         display: inline-block;
    //         width: 100%;
    //         height: 100%;
    //         mask: image("/design", "icon-#{$icon}.svg")
    //             no-repeat
    //             left /
    //             contain;
    //         -webkit-mask: image("/design", "icon-#{$icon}.svg")
    //             no-repeat
    //             left /
    //             contain;
    //         background-color: var(--icon-color, var(--color-background));
    //         position: absolute;
    //         left: 0;
    //         top: 100%;
    //         z-index: 2;
    //     }
    //     &::after {
    //         content: "";
    //         display: inline-block;
    //         width: 100%;
    //         height: 100%;
    //         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath d='M32,0C14.3,0,0,14.3,0,32s14.3,32,32,32,32-14.3,32-32S49.7,0,32,0Z'/%3E%3C/svg%3E");
    //         background-size: contain;
    //         background-repeat: no-repeat;
    //         background-position: left center;
    //         position: absolute;
    //         left: 0;
    //         top: 100%;
    //         z-index: 1;
    //         opacity: 0.2;
    //     }
    // }
    .iconmask-#{$icon} {
        -webkit-mask: image("/design", "icon-#{$icon}.svg")
            no-repeat
            center /
            contain;
        mask: image("/design", "icon-#{$icon}.svg") no-repeat center / contain;
    }
}
