// content elements
section.section {
    aside,
    .header-text,
    .header-image {
        @media (min-width: $breakpoint-xxsmall) {
            padding: 1.5em;
        }
        @media (min-width: $breakpoint-layout-switch) {
            padding: 10vw 3em;
        }
    }
    .content {
        position: relative;
    }

    .header-text {
        font-size: 1.1em;
        @media (max-width: $breakpoint-layout-switch-max) {
            padding-top: calc(1.5em + 5vw);
            padding-bottom: 0;
        }
        @media (min-width: $breakpoint-layout-switch) {
            flex-basis: 33%;
            flex-shrink: 0;
        }
    }

    .header-image {
        flex-grow: 1;
        .content {
            padding: 0 0 7vw 0;
        }
    }
}
// container
section.section {
    > .container {
        z-index: 3;
        height: 100%;
        padding: calc(5em + 1vw) $mainpadding;

        @media (min-width: $breakpoint-layout-switch) {
            padding: 0 $mainpadding;
            display: flex;
        }
        &:before {
            @include after;
            position: fixed;
            z-index: 3;
            height: 6em !important;
        }
    }
    &:first-child {
        > .container {
            min-height: 100vh;
        }
    }
}

.fullpage .header-image {
    .content {
        padding: 5vw 0 5vw 0;
    }
}
