@import "./base/vars";

// topnav colors and sizes
$nav-primary: var(--color-foreground);
$nav-secondary: var(--color-background);

nav {
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
            cursor: pointer;
            list-style-type: none;
            a {
                @extend %font-sans;
            }
        }
    }
}

nav#nav {
    margin-left: auto;
    max-width: calc(100% - 4vw - 3em);
    ul {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        li {
            cursor: pointer;
            margin: 0 0.15em;
            @media screen and (min-width: $breakpoint-small) {
                margin: 0 0.5em;
                max-width: calc(100% - 5vw - 6em);
            }
            @include inverted-text-item($nav-primary, $nav-secondary);
            * {
                @extend %font-sans-bold;
            }
        }
    }

    ul li:hover:after,
    ul li.active:after {
        transform: translateY(-100%);
        transition: transform 0.25s ease;
    }
    ul li a:hover span,
    ul li a:focus span,
    ul li a:active span,
    ul li.active a span {
        transform: translateY(-100%);
        transition: transform 0.35s ease;
    }
}

nav#bottom-nav {
    ul {
        justify-content: flex-end;
        font-size: 0.95em;
        li {
            margin-right: $mainpadding;
            a {
                text-decoration: none;
                transition: color 0.5s ease 0.35s;
                &:hover {
                    text-decoration: underline;
                }
            }
            &.icon {
                margin-right: 0.75em;
            }
        }
    }
}
