@use "sass:math";

// Footer typo colors
@include nav-colors(
    $section-color-even,
    $section-color-odd,
    ".content-wrapper"
);
.project-details.subpage,
.subpage {
    @include main-after;

    &:before,
    &:after {
        border-bottom-color: $section-color-even;
    }

    // section
    section.section {
        @include section-colors($section-color-even, $section-color-odd, true);
        &:before,
        &:after {
            content: "";
            position: absolute;
            display: table;
            left: 0;
            transition: all $section-before-transition ease
                    $section-transition-delay,
                background-color $section-color-transition ease
                    $section-color-transition-delay,
                border-bottom-color $section-color-transition ease
                    $section-color-transition-delay;
        }
        &:before,
        &:after {
            height: 0;
            border-bottom-style: solid;
            width: 100%;
        }
        &:before {
            border-left: 100vw solid transparent;
        }
        @include section-after;
        .container::before {
            content: none;
        }
    }

    section.section {
        &.project-screens > .container {
            padding: 0 $mainpadding calc(5em + 1vw) $mainpadding;
            > *:first-child {
                z-index: 1;
                margin-top: -3vw;
            }
        }
        .container:not(:last-child) {
            padding-bottom: 0;
        }
        .content {
            &:not(:first-child) {
                margin-top: 0;
            }
            &:not(:last-child) {
                padding-bottom: $mainpadding;
            }
            @media (min-width: $breakpoint-layout-switch) {
                display: flex;
            }
            div {
                opacity: 0;
                li {
                    opacity: 0;
                    &:before {
                        transform: translateX(-100%) scale(0);
                    }
                }
            }
            &.inview {
                div {
                    opacity: 1;
                    transition: all 1s ease;
                    li {
                        opacity: 1;
                        transition: all 0.5s ease;
                        &:before {
                            transform: translateX(0) scale(1);
                            transition: all 0.5s ease;
                        }
                    }
                }
                @for $i from 1 through 10 {
                    div:nth-child(#{$i}) {
                        transition-delay: $i * 0.2s;
                        @for $j from 1 through 10 {
                            li:nth-child(#{$j}),
                            li:nth-child(#{$j}):before {
                                transition-delay: ($i * 0.2s) + ($j * 0.1s);
                            }
                        }
                    }
                }
            }
        }
        &:first-child {
            z-index: 0;
        }
    }
}

.project-details {
    section.section {
        aside {
            display: flex;
            justify-content: center;
            padding: 1.5em 1.5em 4em;
            flex-direction: column;
            max-width: 50em;
            @media (max-width: $breakpoint-layout-switch-max) {
                .client-logo {
                    width: 170px;
                    margin-bottom: 3em;
                    flex-shrink: 0;
                    padding-right: 30px;
                }
            }
            @media (min-width: 640px) {
                flex-direction: row;
            }
            @media (min-width: $breakpoint-layout-switch) {
                padding: 70px 3em;
                flex-direction: column;
            }
        }
        .header-image {
            padding: 0;
            height: 100vh;
            .headerimg-wrapper {
                position: relative;
                width: 110%;
                overflow: hidden;
                .headerimg {
                    z-index: 1;
                    width: 65%;
                    position: relative;
                    > *:first-child {
                        padding-top: 25%;
                    }
                    > * > * {
                        box-shadow: 20px 10px 30px rgba(0, 0, 0, 0.15);
                    }
                }

                > *:nth-child(2) {
                    position: absolute;
                    left: 50%;
                    top: 0;
                    width: 55%;
                }
            }
            .headerimg {
                width: 100%;
                height: auto;
                padding-left: 10%;

                > * {
                    > * {
                        display: inline-block;
                        margin-bottom: $padding-xs;
                    }
                }
            }
            @media (min-width: $breakpoint-layout-switch) {
                .headerimg {
                    > *:first-child {
                        width: 100%;
                        padding-top: 15%;
                    }
                }
                .headerimg-wrapper > *,
                .headerimg {
                    transform: rotate(-5deg);
                }
            }
            @media (max-width: $breakpoint-layout-switch-max) {
                height: 60vw;
                overflow: hidden;
                .headerimg-wrapper > *,
                .headerimg {
                    transform: none;
                }
                .headerimg {
                    padding-left: 0;
                    padding-top: 0;
                    margin-left: 0;
                    > * {
                        display: none;
                        &:first-child {
                            display: inline-block;
                        }
                    }
                }
            }
        }
        aside {
            h1 {
                font-size: calc(1.5em + 0.5vw);
                margin-bottom: $mainpadding;
                color: var(--color-background);
                text-shadow: none;
            }
        }
        &.bg-light {
            aside {
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                li,
                p,
                a,
                label {
                    color: var(--color-foreground);
                }
            }
        }
        &:first-child {
            overflow: hidden;
            .container {
                padding: 0;
                @media (max-width: $breakpoint-layout-switch-max) {
                    display: flex;
                    flex-direction: column-reverse;
                    padding-bottom: max(8vw, 3em);
                }
            }
        }
        &.project-screens {
            &:before,
            &:after {
                border-bottom-color: var(--color-gray-light);
            }
            background-color: var(--color-gray-light);
            .content {
                div[class*="col"] {
                    img {
                        display: block;
                    }
                }
            }
        }
    }
}

/**
* HEADER IMAGES 
*/

.project-details {
    section.section {
        aside {
            h1,
            h2 {
                text-shadow: none;
                color: var(--color-background);
            }
        }
    }
    section.project-intro {
        background-size: cover;
    }
}

.project-details {
    .masonry {
        column-width: 500px;
        width: 100%;
        @media screen and (min-width: $breakpoint-xxlarge) {
            column-width: 800px;
        }
        column-gap: $padding-xs;
        img {
            display: block;
            margin-bottom: $padding-xs;
            width: 100%;
        }
    }
}

.project-details {
    ul.tags {
        display: flex;
        margin-top: $mainpadding;
        li {
            @extend %font-sans;
            padding: $padding-xs $mainpadding;
            border-radius: 2em;
            background-color: var(--color-primary);
            color: var(--color-background) !important;
            margin: $padding-xs;
            white-space: nowrap;
            font-size: 80%;
        }
    }
}
