ul.list.cv {
    max-width: 1200px;
    margin-top: 0;
    flex-shrink: 1;
    flex-grow: 1;
    li {
        list-style-type: none;
        ul {
            li {
                margin-bottom: 0;
                list-style-type: disc;
                line-height: 1.35;
                margin-bottom: 0.5em;
            }
        }
    }
    ul {
        @extend %font-sans;
    }
}
.timeline {
    display: flex;
    font-size: 1em;
    .date {
        @extend %font-italic;
        margin-bottom: 0.25em;
        color: var(--color-primary);
        font-size: 0.9em;
    }
    .company {
        @extend %font-headings;
        font-weight: 400;
        font-size: 1.25em;
    }
}
.tech {
    line-height: 1.1;
    margin-top: 0.25em;
}
